

/* On crée nos classes personnalisées ici */
@layer utilities {
    .bg-collab-gradient {
        /* --- VERSION MOBILE (Ta version actuelle) --- */
        background-image:
                url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.25'/%3E%3C/svg%3E"),
                linear-gradient(87deg, rgba(2, 140, 181, 1) 0%, rgba(36, 190, 236, 1) 25%, rgba(198, 203, 255, 1) 50%, rgba(254, 136, 65, 1) 75%, rgba(221, 69, 133, 1) 100%);

        background-repeat: repeat, no-repeat;
        background-size: auto, cover; /* Auto laisse le SVG à 200px */
        background-position: center center;
        background-blend-mode: overlay, normal;
    }

    @media (min-width: 1024px) {
        .bg-collab-gradient {
            background-image:
                    url("https://grainy-gradients.vercel.app/noise.svg"),
                    linear-gradient(87deg, rgba(2, 140, 181, 1) 0%, rgba(36, 190, 236, 1) 25%, rgba(198, 203, 255, 1) 50%, rgba(254, 136, 65, 1) 75%, rgba(221, 69, 133, 1) 100%);
            background-size: 100px 100px, cover;
            background-blend-mode: overlay, normal;
        }
    }

    .primary-bg-gradient{
        background: linear-gradient(110deg,rgba(221, 69, 133, 1) 0%, rgba(254, 136, 65, 1) 100%);
    }
    .bg-gradient-pink-to-blue {
        background: linear-gradient(110deg,rgba(221, 69, 133, 1) 0%, rgba(254, 136, 65, 1) 50%,rgba(198, 203, 255, 1) 95%);
    }
    .primary-text-gradient {
        background-image: linear-gradient(110deg,rgba(221, 69, 133, 1) 0%, rgba(254, 136, 65, 1) 100%);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    .primary-bg-shadow {
        -webkit-box-shadow: 0px 0px 40px 8px #DD4585;
        box-shadow: 0px 0px 40px 8px #DD4585;
    }

    .secondary-bg-shadow {
        -webkit-box-shadow: 0px 0px 40px 8px #028CB5;
        box-shadow: 0px 0px 40px 8px #028CB5;
    }

    .primary-bg-shadow-large {
        -webkit-box-shadow: 0px 0px 60px 12px #DD4585;
        box-shadow: 0px 0px 60px 12px #DD4585;
    }

    .secondary-bg-shadow-large {
        -webkit-box-shadow: 0px 0px 60px 12px #028CB5;
        box-shadow: 0px 0px 60px 12px #028CB5;
    }

    .primary-color {
        color: #DD4585;
    }

    .glassmorphism-bg {
        background: rgba(255, 255, 255, 0.22);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(6.1px);
        -webkit-backdrop-filter: blur(6.1px);
        border: 1px solid rgba(255, 255, 255, 0.51);
    }

    .tinder-bg-gradient {
        background: linear-gradient(143deg,rgba(221, 69, 133, 1) 0%, rgba(0, 0, 0, 1) 100%);
    }

    .ina-bg-gradient {
        background: linear-gradient(143deg,rgba(2, 140, 181, 1) 0%, rgba(0, 0, 0, 1) 100%);
    }
    .flame-bg {
        background-image: url('./assets/Flamina_Logo_Blanc_Flame.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 600px;
    }
}


p {
    font-family: "Roboto", serif;
}